body {
  font-family: "SF Compact Display", sans-serif;
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  padding: 8px 15px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.box {
  min-height: 650px;
  display: grid;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.box1 {
  background: #f5f5f7;
  color: black;
}
.box2 {
  background: linear-gradient(to bottom, #d4eaf7, #f0f6f8);
  color: black;
}
.box3 {
  background: linear-gradient(to bottom, #d4eaf7, #f0f6f8);
  color: black;
}
.box4 {
  background: #000000;
}
.box5 {
  background: #f5f5f7;
  color: black;
}
.box6 {
  background: #000000;
}

@media (min-width: 768px) {
  .box1,
  .box2 {
    grid-column: span 2;
  }

  .box3,
  .box4,
  .box5,
  .box6 {
    grid-column: span 1;
  }

  .container {
    grid-template-columns: 1fr 1fr;
  }
}

h2 {
  font-size: 3.5rem;
  padding-top: 100px;
  font-weight: 600;
}

p {
  font-size: 2.5rem;
}

.tagline {
  font-size: 1.5rem;
}

.box h2,
.box p {
  margin: 0;
}

.box .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button1 {
  background-color: #0071e3;
  color: #fff;
  border-color: #0071e3;
}

.button2 {
  color: #0071e3;
  border-color: #0071e3;
}

button {
  border-radius: 50px;
  font-size: 1.5rem;
  padding: 10px 10px;
  border-style: solid;
}

.tagline {
  background: linear-gradient(90deg, #0f7efd, #724ae0, #b93b06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.box1 img {
  width: 100%;
  height: auto;
  margin-top: auto;
  display: block;
}
